
.container {
  position: relative;
  width: 100%;
  max-height: 100px;
}

.image {
  display: block;
  width: 100px;
  max-height: 100px;
  height: auto;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100px;
  max-height: 100px;
  width: 100px;
  opacity: 0;
  border-radius: 5px;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
